/* Grid Styling */
.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

.span-next {
  grid-column: 2 span;
}

.window {
  background: rgb(114, 114, 227);
  width: 100%;
  height: 30vh;
}

/* Above is laptop for demo reasons, (use mobile first approach in future) */

/* Responsiveness for grids (Have to have for sites to not break) */
@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
